In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
df = pd.read_csv("C://Users//khushi//Desktop//py//codebasicspy//ML//18_PCA//Exercise//heart.csv")

In [2]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [4]:
df.Sex.unique()

array(['M', 'F'], dtype=object)

In [5]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [6]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [7]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [8]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [9]:
df2 = df.copy()
df2.ExerciseAngina.replace(
    {
        'N' : 0,
        'Y' : 1
    },
    inplace=True)
df2.RestingECG.replace(
    {
        'Normal' : 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)
df2.ST_Slope.replace(
    {
        'Up' : 1,
        'Flat' : 2,
        'Down' : 3
    },
    inplace=True)
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,1,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,1,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,1,0

In [10]:
df3 = pd.get_dummies(df2, drop_first = True)
df3.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,1,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,1,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,1,0,1,0,1,0

In [11]:
X = df3.drop(['HeartDisease'], axis = 1)
y = df3.HeartDisease
X.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,1,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,0,0,1,0
2,37,130,283,0,2,98,0,0.0,1,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,0,0,0,0
4,54,150,195,0,1,122,0,0.0,1,1,0,1,0

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.4331398 ,  0.41090889,  0.82507026, ...,  2.07517671,
        -0.53283777, -0.22967867],
       [-0.47848359,  1.49175234, -0.17196105, ..., -0.48188667,
         1.87674385, -0.22967867],
       [-1.75135854, -0.12951283,  0.7701878 , ...,  2.07517671,
        -0.53283777, -0.22967867],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, ..., -0.48188667,
        -0.53283777, -0.22967867],
       [ 0.37009972, -0.12951283,  0.34027522, ...,  2.07517671,
        -0.53283777, -0.22967867],
       [-1.64528563,  0.30282455, -0.21769643, ..., -0.48188667,
         1.87674385, -0.22967867]])

In [13]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
svm = SVC()
lr = LogisticRegression()
rfc = RandomForestClassifier()

In [14]:
model_params = {
    'svm' : {
        'model' : svm,
        'params' : {
            'C' : [1, 10, 20],
            'kernel' : ['rbf', 'linear']
        }
    },
    'random_forest' : {
        'model' : rfc,
        'params' : {
            'n_estimators' : [1, 5, 10]
        }
    },
    'logistic_regression' : {
        'model' : lr,
        'params' : {
            'C' : [1, 5, 10]
        }
    }
}

In [15]:
from sklearn.model_selection import GridSearchCV, train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.3)

scores = []

for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X, y)
    scores.append({
        'model' : model_name,
        'best_score' : clf.best_score_,
        'best_params' : clf.best_params_
    })

In [16]:
import pandas as pd
df4 = pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])
df4

                 model  best_score                    best_params
0                  svm    0.815904  {'C': 10, 'kernel': 'linear'}
1        random_forest    0.797386           {'n_estimators': 10}
2  logistic_regression    0.813725                       {'C': 5}

In [17]:
from sklearn. decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X_scaled)

In [18]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.3, random_state=30)

In [19]:
svm.fit(X_train_pca, y_train)
svm.score(X_test_pca, y_test)

0.8768115942028986

In [20]:
rfc.fit(X_train_pca, y_train)
rfc.score(X_test_pca, y_test)

0.8260869565217391