In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
df = pd.read_csv("C://Users//khushi//Desktop//py//codebasicspy//ML//19_Bagging//Exercise//heart.csv")

In [2]:
df.head(20)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0
10,37,F,NAP,130,211,0,Normal,142,N,0.0,Up,0
11,58,M,ATA,136,164,0,ST,99,Y,2.0,Flat,1
12,39,M,ATA,120,204,0,Normal,145,N,0.0,Up,0
13,49,M,ASY,140,234,0,Normal,140,Y,1.0,Flat,1
14,42,F,NAP,115,211,0,ST,137,N,0.0,Up,0
15,54,F,ATA,120,273,0,Normal,150,N,1.5,Flat,0
16,38,M,ASY,110,196,0,Normal,166,N,0.0,Flat,1
17,43,F,ATA,120,201,0,Normal,165,N,0.0,Up,0
18,60,M,ASY,100,248,0,Normal,125,N,1.0,Flat,1
19,36,M,ATA,120,267,0,Normal,160,N,3.0,Flat,1

In [3]:
df.shape

(918, 12)

In [4]:
# Removing outliers using z score

In [5]:
df['z_score_RestingBP'] = (df.RestingBP - df.RestingBP.mean())/df.RestingBP.std()
df['z_score_Cholesterol'] = (df.Cholesterol - df.Cholesterol.mean())/df.Cholesterol.std()
df['z_score_MaxHR'] = (df.MaxHR - df.MaxHR.mean())/df.MaxHR.std()
df['z_score_Oldpeak'] = (df.Oldpeak - df.Oldpeak.mean())/df.Oldpeak.std()
df1 = df[(df.z_score_RestingBP > -3) & (df.z_score_RestingBP <3)]
df1 = df[(df.z_score_Cholesterol > -3) & (df.z_score_Cholesterol <3)]
df1 = df[(df.z_score_MaxHR > -3) & (df.z_score_MaxHR <3)]
df1 = df[(df.z_score_Oldpeak > -3) & (df.z_score_Oldpeak <3)]
df1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z_score_RestingBP,z_score_Cholesterol,z_score_MaxHR,z_score_Oldpeak
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,1.382175,-0.831979
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,0.753746,0.105606
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-1.524307,-0.831979
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-1.131539,0.574398
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.581664,-0.831979

In [6]:
df1.drop(['z_score_RestingBP', 'z_score_Cholesterol', 'z_score_MaxHR', 'z_score_Oldpeak'], axis = 1, inplace = True)
df1.shape

(911, 12)

In [7]:
df1.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [8]:
df1.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [9]:
df1.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [10]:
df1.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [11]:
df2 = df1.copy()
df2.RestingECG.replace(
    {
        'Normal' : 1,
        'ST' : 2,
        'LVH' : 3
    },
    inplace = True
)
df2.ExerciseAngina.replace(
    {
        'N':0,
        'Y':1
    },
    inplace = True
)
df2.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace = True
)
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0

In [12]:
df2 = pd.get_dummies(df2, drop_first = True)
df2.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,0,1,0,1,0

In [13]:
df2.shape

(911, 14)

In [14]:
X = df2.drop(['HeartDisease'], axis = 1)
y = df2.HeartDisease

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.4286693 ,  0.4149297 ,  0.82566742, ...,  2.06540455,
        -0.53546537, -0.22795405],
       [-0.47649408,  1.49926978, -0.17079521, ..., -0.48416665,
         1.8675344 , -0.22795405],
       [-1.74606104, -0.12724035,  0.77081626, ...,  2.06540455,
        -0.53546537, -0.22795405],
       ...,
       [ 0.3698839 , -0.12724035, -0.6187463 , ..., -0.48416665,
        -0.53546537, -0.22795405],
       [ 0.3698839 , -0.12724035,  0.34114889, ...,  2.06540455,
        -0.53546537, -0.22795405],
       [-1.6402638 ,  0.30649569, -0.21650451, ..., -0.48416665,
         1.8675344 , -0.22795405]])

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.3, random_state = 30)

In [17]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

svm = cross_val_score(SVC(), X_scaled, y, cv=5)
svm.mean()

0.8121871426282258

In [18]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=SVC(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score = True,
    random_state = 0
)
scores = cross_val_score(bag_model, X_scaled, y, cv=5)
scores.mean()

0.8198795166732854

In [19]:
from sklearn.tree import DecisionTreeClassifier

tree = cross_val_score(DecisionTreeClassifier(random_state=0), X_scaled, y, cv=5)
tree.mean()

0.7122454666970564

In [20]:
bag_model_2 = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score = True,
    random_state = 0
)
scores = cross_val_score(bag_model_2, X_scaled, y, cv=5)
scores.mean()

0.8022485288765516

In [21]:
from sklearn.ensemble import RandomForestClassifier
rfr = RandomForestClassifier()
rfr.fit(X_train, y_train)
rfr.score(X_test, y_test)

0.8613138686131386